/* universal selector - dont change */
*{
    margin: 0;
    box-sizing: border-box;
}

/* title styling */
h1{
    color: red;
}

/* image styling */
img{

}

#wynn-img{
    max-width: 20vw;
    border: 5px red dotted;
}

